<!doctype html>
<html lang="en-AU" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial:seo }}
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="min-h-screen flex flex-col">
        <a href="#main" class="skip-link btn-primary">Skip to content</a>

        {{ partial:header }}

        <main id="main" class="flex-1">
            {{ template_content }}
        </main>

        {{ partial:footer }}
    </body>
</html>
